@import url(https://fonts.googleapis.com/css?family=Muli:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);
html,
body {
  color: #8c8c8c;
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
  scroll-behavior: smooth; }

.hidden {
  display: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: black; }

p,
span,
a {
  line-height: 1.5;
  font-size: 18px; }

.highlighted {
  text-decoration: none;
  font-weight: bold;
  color: #9c9c9c;
  margin-bottom: 2px; }

.word-wrap {
  padding-right: 7px; }

.background-image {
  background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='595.281px' height='257.321px' viewBox='0 0 595.281 257.321' enable-background='new 0 0 595.281 257.321' xml:space='preserve'%3E %3Cg id='Layer_1_1_'%3E %3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='-809.3594' y1='1503.0024' x2='-214.0781' y2='1503.0024' gradientTransform='matrix(1 0 0 0.7752 809.3594 -1119.8918)'%3E %3Cstop offset='0.0054' style='stop-color:%23BCFFFF'/%3E %3Cstop offset='0.1264' style='stop-color:%23BBE5F8;stop-opacity:0.9521'/%3E %3Cstop offset='0.2658' style='stop-color:%23BACEF1;stop-opacity:0.8969'/%3E %3Cstop offset='0.397' style='stop-color:%23B9C0ED;stop-opacity:0.845'/%3E %3Cstop offset='0.5108' style='stop-color:%23B9BBEC;stop-opacity:0.8'/%3E %3Cstop offset='0.6717' style='stop-color:%23B7BCEC;stop-opacity:0.6026'/%3E %3Cstop offset='0.7445' style='stop-color:%23B0BEEC;stop-opacity:0.5133'/%3E %3Cstop offset='0.7996' style='stop-color:%23A3C3EC;stop-opacity:0.4458'/%3E %3Cstop offset='0.8458' style='stop-color:%2391CAEC;stop-opacity:0.3892'/%3E %3Cstop offset='0.8863' style='stop-color:%2379D2EC;stop-opacity:0.3394'/%3E %3Cstop offset='0.923' style='stop-color:%235CDDEC;stop-opacity:0.2945'/%3E %3Cstop offset='0.9566' style='stop-color:%233AEAEC;stop-opacity:0.2532'/%3E %3Cstop offset='0.9871' style='stop-color:%2313F8EC;stop-opacity:0.2158'/%3E %3Cstop offset='1' style='stop-color:%2300FFEC;stop-opacity:0.2'/%3E %3C/linearGradient%3E %3Cpath fill='url(%23SVGID_1_)' d='M0,162.62c113.54,40.752,243.199,5.791,352.628-16.8c102.372-23.401,193.34-5.595,242.653,5.431 V-90.927H0V162.62z'/%3E %3ClinearGradient id='SVGID_2_' gradientUnits='userSpaceOnUse' x1='-809.3594' y1='1503.0317' x2='-214.0771' y2='1503.0317' gradientTransform='matrix(1 0 0 0.7752 809.3594 -1119.8918)'%3E %3Cstop offset='0.0054' style='stop-color:%236187FA;stop-opacity:0.8'/%3E %3Cstop offset='0.2044' style='stop-color:%2339A7E8;stop-opacity:0.7104'/%3E %3Cstop offset='0.3968' style='stop-color:%231AC1DA;stop-opacity:0.6239'/%3E %3Cstop offset='0.5592' style='stop-color:%2307D0D2;stop-opacity:0.5508'/%3E %3Cstop offset='0.672' style='stop-color:%2300D6CF;stop-opacity:0.5'/%3E %3Cstop offset='0.7229' style='stop-color:%2304D4D0;stop-opacity:0.5775'/%3E %3Cstop offset='0.777' style='stop-color:%2311CED4;stop-opacity:0.6601'/%3E %3Cstop offset='0.8327' style='stop-color:%2326C5DA;stop-opacity:0.7449'/%3E %3Cstop offset='0.8894' style='stop-color:%2344B7E3;stop-opacity:0.8314'/%3E %3Cstop offset='0.9463' style='stop-color:%236AA6EE;stop-opacity:0.9182'/%3E %3Cstop offset='1' style='stop-color:%239593FA'/%3E %3C/linearGradient%3E %3Cpath fill='url(%23SVGID_2_)' d='M0,162.62c119.492,36.941,202.225,12.008,327.101-10.643c133.313-24.183,218.867-2.2,268.182,10.643 V-90.946H0V162.62z'/%3E %3CradialGradient id='SVGID_3_' cx='371.04' cy='-208.127' r='444.1459' gradientUnits='userSpaceOnUse'%3E %3Cstop offset='0' style='stop-color:%232B00DB'/%3E %3Cstop offset='1' style='stop-color:%235063D1'/%3E %3C/radialGradient%3E %3Cpath opacity='0.6' fill='url(%23SVGID_3_)' enable-background='new ' d='M0.001,56.61 c238.461-20.166,316.104,72.993,441.755,43.399c85.89-20.229,93.612-31.814,153.526-33.531v-237.462H0.001V56.61z'/%3E %3CradialGradient id='SVGID_4_' cx='-585.1948' cy='1637.4165' r='467.9897' gradientTransform='matrix(1 0 0 0.7752 809.3594 -1119.8918)' gradientUnits='userSpaceOnUse'%3E %3Cstop offset='0' style='stop-color:%23502FD1;stop-opacity:0.7'/%3E %3Cstop offset='0.9731' style='stop-color:%236127DB;stop-opacity:0.9'/%3E %3C/radialGradient%3E %3Cpath opacity='0.9' fill='url(%23SVGID_4_)' enable-background='new ' d='M0,175.206c81.09,24.57,178.384,20.84,305.229-17.381 c137.241-41.352,240.739-17.619,290.053-6.593V-90.946H0V175.206z'/%3E %3ClinearGradient id='SVGID_5_' gradientUnits='userSpaceOnUse' x1='-809.3594' y1='1509.0269' x2='-214.0781' y2='1509.0269' gradientTransform='matrix(1 0 0 0.7752 809.3594 -1119.8918)'%3E %3Cstop offset='0.0269' style='stop-color:%23504A98;stop-opacity:0'/%3E %3Cstop offset='0.6935' style='stop-color:%236B6EBB;stop-opacity:0.828'/%3E %3Cstop offset='1' style='stop-color:%23684393;stop-opacity:0.8'/%3E %3C/linearGradient%3E %3Cpath opacity='0.5' fill='url(%23SVGID_5_)' enable-background='new ' d='M0,175.206c81.09,24.57,179.384,20.857,306.23-17.361 c137.239-41.352,239.737-17.619,289.051-6.594V-90.927H0V175.206z'/%3E %3C/g%3E %3Cg id='dots' display='none' opacity='0.4'%3E %3Ccircle display='inline' opacity='0.3' fill='%238F8FF2' enable-background='new ' cx='436.219' cy='42.161' r='2.391'/%3E %3Ccircle display='inline' opacity='0.3' fill='%238F8FF2' enable-background='new ' cx='479.844' cy='46.286' r='2.625'/%3E %3Ccircle display='inline' opacity='0.2' fill='%238F8FF2' enable-background='new ' cx='426.969' cy='62.91' r='3.25'/%3E %3Ccircle display='inline' opacity='0.1' fill='%238F8FF2' enable-background='new ' cx='453.344' cy='48.536' r='2.375'/%3E %3Ccircle display='inline' opacity='0.1' fill='%238F8FF2' enable-background='new ' cx='360.969' cy='41.411' r='2.75'/%3E %3Ccircle display='inline' opacity='0.2' fill='%238F8FF2' enable-background='new ' cx='373.219' cy='34.911' r='3.5'/%3E %3Ccircle display='inline' opacity='0.2' fill='%238F8FF2' enable-background='new ' cx='542.219' cy='39.77' r='3.75'/%3E %3Ccircle display='inline' opacity='0.2' fill='%238F8FF2' enable-background='new ' cx='558.822' cy='48.263' r='2.276'/%3E %3Ccircle display='inline' opacity='0.2' fill='%238F8FF2' enable-background='new ' cx='417.378' cy='48.263' r='2.75'/%3E %3Ccircle display='inline' opacity='0.3' fill='%238F8FF2' enable-background='new ' cx='549.719' cy='70.485' r='2.25'/%3E %3Ccircle display='inline' opacity='0.15' fill='%238F8FF2' enable-background='new ' cx='324.219' cy='70.485' r='2'/%3E %3Ccircle display='inline' opacity='0.1' fill='%238F8FF2' enable-background='new ' cx='327.719' cy='17.661' r='3.5'/%3E %3Ccircle display='inline' opacity='0.15' fill='%238F8FF2' enable-background='new ' cx='275.662' cy='50.911' r='2'/%3E %3Ccircle display='inline' opacity='0.2' fill='%238F8FF2' enable-background='new ' cx='318.219' cy='34.911' r='2'/%3E %3Ccircle display='inline' opacity='0.15' fill='%238F8FF2' enable-background='new ' cx='306.219' cy='83.924' r='2'/%3E %3Ccircle display='inline' opacity='0.2' fill='%238F8FF2' enable-background='new ' cx='341.297' cy='93.196' r='1.148'/%3E %3Ccircle display='inline' opacity='0.3' fill='%238F8FF2' enable-background='new ' cx='320.219' cy='85.925' r='1.148'/%3E %3Ccircle display='inline' opacity='0.15' fill='%238F8FF2' enable-background='new ' cx='270.212' cy='68.485' r='1.148'/%3E %3Ccircle display='inline' opacity='0.2' fill='%238F8FF2' enable-background='new ' cx='252.191' cy='59.66' r='2'/%3E %3Ccircle display='inline' opacity='0.1' fill='%238F8FF2' enable-background='new ' cx='266.712' cy='102.482' r='3.5'/%3E %3Ccircle display='inline' opacity='0.15' fill='%238F8FF2' enable-background='new ' cx='255.34' cy='45.513' r='1.148'/%3E %3C/g%3E %3C/svg%3E");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 112% auto; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul a {
    text-decoration: none;
    color: #8c8c8c; }

menu {
  margin: 0;
  padding: 0; }
  menu ul {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    align-items: center; }
  menu li {
    padding: 0 10px; }
  menu a {
    color: #e9ebff; }
  menu li:first-of-type {
    padding: 10px 8px;
    border: 3px solid #e9ebff; }
    menu li:first-of-type a {
      color: #e9ebff;
      font-weight: bold;
      display: block; }
  menu li:nth-of-type(2) {
    margin-left: 20px; }

.banner {
  margin-top: -90px;
  display: flex;
  align-items: center;
  margin-bottom: 50px; }

.banner-info {
  margin-top: -80px;
  width: 400px;
  color: #c5c9fd; }
  .banner-info p {
    width: 550px;
    font-size: 22px; }
  .banner-info h1 {
    color: #e9ebff; }

.banner-animation {
  width: 100%; }
  .banner-animation svg {
    width: 100%;
    height: auto; }

h2 {
  margin: 30px 0; }

h3 {
  margin: 30px 0; }

.section {
  max-width: 1000px;
  margin: 60px auto; }
  .section a {
    text-decoration: none;
    font-weight: bold;
    color: #00a9ff; }

.square-section {
  display: flex;
  justify-content: space-between; }
  .square-section h4 {
    color: #000; }
    .square-section h4 a {
      color: #000; }
  .square-section ul {
    color: #7a7a7a; }
  .square-section li {
    display: flex;
    align-items: baseline; }
  .square-section span {
    display: block; }
  .square-section i {
    width: 25px;
    color: #7a7a7a; }

.square-element {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #ffffff;
  padding: 20px 25px;
  box-sizing: border-box;
  width: 310px;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  background-image: linear-gradient(to top right, #5b62cb, #5e4ec7 50%, #fff 50%);
  background-size: 330% 250%;
  background-position: 100%; }
  .square-element h4 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif; }
    .square-element h4 a {
      font-size: 25px; }
    .square-element h4 a:hover {
      border-bottom: 1px solid #000; }
  .square-element li {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px; }
  .square-element p {
    word-wrap: break-word; }
  .square-element a {
    font-weight: 500; }
  .square-element .hyperlink {
    flex-grow: 1;
    display: flex;
    align-items: flex-end; }
    .square-element .hyperlink a {
      text-decoration: none;
      font-weight: bold;
      color: #00a9ff; }

.square-element.active {
  transition: all 0.4s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%; }
  .square-element.active h4 {
    transition: all 0.1s cubic-bezier(0, 0, 0.23, 1);
    transition-delay: 0.06s;
    background-position: 0%; }
  .square-element.active ul {
    transition: all 0.2s cubic-bezier(0, 0, 0.23, 1);
    background-position: 0%; }
  .square-element.active i {
    -webkit-text-fill-color: #fff; }

.portfolio-element {
  margin: 40px 0; }
  .portfolio-element h3 {
    margin: 30px 0 20px; }
  .portfolio-element p {
    margin: 10px 0 10px; }
  .portfolio-element .overlay-a {
    display: block; }
  .portfolio-element a:hover .portfolio-image-overlay {
    opacity: 1; }
  .portfolio-element .overlay-a {
    margin-top: 30px; }

.portfolio-labels {
  margin-top: 16px; }

.portfolio-labels-element {
  display: inline-block;
  border-radius: 8px;
  margin-right: 9px;
  font-size: 16px;
  /* font-weight: bold; */
  /* text-decoration: underline; */
  /* border-top: 1px solid #cacaca; */
  /* border-bottom: 1px solid red; */
  padding: 10px 15px;
  background: #afb6bc30;
  color: #636363;
  /* box-shadow: 0px 1px 2px 1px #cfced57a; */ }

.portfolio-image-wrapper {
  overflow: hidden; }

.portfolio-image {
  width: 100%;
  height: 300px;
  background: #aaa;
  background-size: cover;
  background-position: center; }

.portfolio-image-overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: #000000a8;
  opacity: 0;
  transition: 0.2s; }

.p1 .portfolio-image {
  background-image: url(b48fbda2e1ddf97c0ec8704c2d41b8ea.png); }

.p2 .portfolio-image {
  background-image: url(04cd690f878ee3710b7ea49d935d40db.png); }

.p3 .portfolio-image {
  background-image: url(4a2ed8477b7c34bb7690f0298addccde.png); }

.p4 .portfolio-image {
  background-image: url(f76367cf82e80368d88bdbca75a9657c.png); }

.portfolio-links {
  margin-top: 20px; }

.portfolio-links a {
  color: #00a9ff;
  margin-right: 8px; }

@media only screen and (max-width: 1100px) {
  .banner-info {
    margin-top: 0px; } }

@media only screen and (max-width: 1000px) {
  .banner-info {
    margin-top: -100px; }
    .banner-info p {
      position: absolute;
      width: 50%; }
  .background-image {
    background-position: center 0%;
    background-size: 110% auto; } }

@media only screen and (max-width: 820px) {
  .square-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px; }
    .square-section .square-element {
      width: 100%; } }

@media only screen and (max-width: 800px) {
  .banner {
    flex-direction: column-reverse;
    align-items: baseline; }
  .banner-info {
    width: 100%;
    color: #7d7d7d;
    margin-top: 0; }
    .banner-info p {
      width: 100%;
      position: static; }
    .banner-info h1 {
      color: #000; }
  .background-image {
    background-position: center 0%;
    background-size: 140% auto; } }

@media only screen and (max-width: 710px) {
  .square-section {
    grid-template-columns: 100%; } }

@media only screen and (max-width: 530px) {
  .banner {
    margin-top: -30px; }
  .container {
    padding: 0 20px; }
  .banner-info h1 {
    font-size: 30px;
    margin-bottom: 10px; }
  .banner-info p {
    font-size: 16px;
    margin-top: 0; }
  .background-image {
    background-size: 180% auto; } }

footer {
  background: #6154df;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 60px;
  height: 70px; }
  footer .container {
    width: 100%;
    box-sizing: border-box; }

@media only screen and (max-width: 333px) {
  menu ul li:nth-of-type(2),
  menu ul li:nth-of-type(3) {
    display: none; }
  menu ul li:nth-of-type(4) {
    margin-left: 20px; } }

@media only screen and (min-width: 1400px) {
  .background-image {
    background-position: center -5%; } }

@media only screen and (min-width: 1600px) {
  .background-image {
    background-position: center -3.5%; } }

@media only screen and (min-width: 1800px) {
  .background-image {
    background-position: center -8%; } }

@media only screen and (min-width: 2100px) {
  .background-image {
    background-position: center -10%; } }

@media only screen and (min-width: 2400px) {
  .background-image {
    background-position: center -15%; } }

@media only screen and (min-width: 2500px) {
  .background-image {
    background: none; }
  .banner-info {
    color: #7d7d7d; }
  .banner-info h1 {
    color: #000; }
  menu a {
    color: #000; }
  menu li:first-of-type {
    border-color: #000; }
  menu li:first-of-type a {
    color: #000; } }

@keyframes armAnimation {
  20% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-6deg); }
  70% {
    transform: rotate(-6deg); }
  100% {
    transform: rotate(0deg); } }

/* .reflect stop {
    stop-color: red !important;
}

.reflect_glasses stop {
    stop-color: red !important;
} */
.arm {
  animation-iteration-count: infinite;
  transform-origin: 67% 69%;
  animation-duration: 5s;
  animation-name: armAnimation;
  animation-fill-mode: forwards;
  animation-timing-function: ease; }

@keyframes leafAnimation {
  0% {
    transform: rotate(-1deg); }
  5% {
    transform: rotate(-1deg); }
  55% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(-1deg); } }

@keyframes leafAnimation2 {
  50% {
    transform: rotate(-6deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes leafAnimation3 {
  50% {
    transform: rotate(-4deg); }
  100% {
    transform: rotate(0); } }

.leaf_1 {
  /* animation-timing-function: ease-in; */
  animation-iteration-count: infinite;
  transform: rotate(-1deg);
  transform-origin: 80% 67%;
  animation-duration: 9s;
  animation-name: leafAnimation;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 2.4s; }

.leaf_2 {
  transform-origin: 80% 67%;
  animation-duration: 9s;
  animation-name: leafAnimation2;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transform: rotate(0deg); }

.leaf_3 {
  transform-origin: 80% 67%;
  animation-duration: 9s;
  animation-name: leafAnimation3;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transform: rotate(0deg);
  animation-delay: 0.4s; }

@keyframes lightAnimation {
  7% {
    opacity: 1; }
  26% {
    opacity: 1; }
  33% {
    opacity: 0; }
  /* change color  */
  40% {
    opacity: 1; }
  59% {
    opacity: 1; }
  66% {
    opacity: 0; }
  /* change color  */
  73% {
    opacity: 1; }
  92% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.reflect_animation {
  animation-name: lightAnimation;
  animation-duration: 9s;
  opacity: 0;
  animation-iteration-count: infinite;
  /* animation-fill-mode: forwards; */ }

@keyframes colorAnimation {
  0% {
    stop-color: #4CB4FF; }
  /* change color  */
  33% {
    stop-color: #4CB4FF; }
  34% {
    stop-color: rgba(143, 220, 255, 0.829); }
  /* change color  */
  66% {
    stop-color: rgba(143, 220, 255, 0.829); }
  67% {
    stop-color: rgba(253, 253, 218, 0.774); }
  100% {
    stop-color: rgba(253, 253, 218, 0.774); } }

@keyframes colorGlassesAnimation {
  0% {
    stop-color: #f7fcff; }
  /* change color  */
  33% {
    stop-color: #f7fcff; }
  34% {
    stop-color: rgba(208, 238, 252, 0.945); }
  /* change color  */
  66% {
    stop-color: rgba(208, 238, 252, 0.945); }
  67% {
    stop-color: #ffffde; }
  100% {
    stop-color: #ffffde; } }

.reflect stop {
  animation-name: colorAnimation;
  animation-duration: 9s;
  animation-iteration-count: infinite; }

.reflect_glasses stop {
  animation-name: colorGlassesAnimation;
  animation-duration: 9s;
  animation-iteration-count: infinite; }

